<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required CSS -->
	<script src="https://kit.fontawesome.com/7cf9245a32.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style type="text/css">
      .navbar-custom {
      background: #14143e;
      }
      h1 {
        color: #14143e;
      }
    </style>
</head>
<body>

    <header>
      <!-- Image and text -->
      <div class="container-fluid navbar-custom">
        
        <h1>
        <a class="m-3" href="https://improve.bethebusiness.com/" style='text-decoration: none'>
            <img src="{{url_for('static', filename='img/logo_white.png')}}" width="150" height="50" class="m-3">
        </a>  
        <a href="{{url_for('home')}}" style='text-decoration: none; color: white;'>Resources Recommender System</a>
      </h1>
      </div>
      <div class="container mb-3">
      <h3>Input your problem statements and the system will direct you to the right resources!</h3>
      
      </div>
    </header>

		<div>
			<h4 class="text-center">Problem Statement</h4>
			<p class='text-secondary text-center'>{{ps}}</p>
		</div>

	<div class="container">
		{% if error%}
			<h4 class="text-center">Sorry, feedback has to be given to all the resources. Please return to the last page and submit again. Thank you.</a></h4>
		{% else %}
			<h4 class="text-center">Thank you for your feedback. You may now exit the page, or return to the <a href="{{url_for('home')}}">homepage</a></h4>
		{% endif %}	
	</div>

    <script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="../js/bootstrap.js"></script>
</body>
</html>