<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Required CSS -->
	<script src="https://kit.fontawesome.com/7cf9245a32.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style type="text/css">
      .navbar-custom {
      background: #14143e;
      }
      h1 {
        color: #14143e;
      }
    </style>
</head>
<body>

    <header>
      <!-- Image and text -->
      <div class="container-fluid navbar-custom">
        
        <h1>
        <a class="m-3" href="https://improve.bethebusiness.com/" style='text-decoration: none'>
            <img src="{{url_for('static', filename='img/logo_white.png')}}" width="150" height="50" class="m-3">
        </a>  
        <a href="{{url_for('home')}}" style='text-decoration: none; color: white;'>Resources Recommender System</a>
      </h1>
      </div>
      <div class="container mb-3">
      <h3>Input your problem statements and the system will direct you to the right resources!</h3>
      
      </div>
    </header>

		<div>
			<h4 class='text-center'>Problem Statement</h4>
			<p class='text-secondary text-center'>{{ps}}</p>
		</div>

	<h3 class="text-center">Recommended Resources</h3>

	<div id="recom_re" class="container">


	{% for i in range(recom_re|length) %}
		{% if i%2 == 0 %}
			<div class="row mt-3">
		{% endif %}
		<div class="col-6">
          <div class="card" style="height: 18rem;">
            <h6 class="card-header text-secondary">{{recom_re[i].topic}}</h6>
            <div class="card-body">
              <h5 class="card-title">{{recom_re[i].title}}</h5>
              <p class="card-text">{{ ' '.join(recom_re[i].text.split(' ')[:30] + [' ...']) }}</p>
              <a href="{{recom_re[i].url}}" class="btn btn-primary">View resources</a>
            </div>
          </div>
        </div>
        {% if i%2 == 1 %}
        	</div>
        {% endif %}
    {% endfor %}

	</div>

	<div class="container">
		<hr>
		<form action="{{ url_for('feedback')}}" method="POST" onsubmit="return validateForm()" name="feedbackform">	
			<h3 class='text-center'>Feedback Form</h3>
			<h4>Problem Statement</h4>
			<p class="text-secondary" name='content_ps'>{{ps}}</p>
			<p>Are the resources useful?</p>
			<!-- <input type="text" name="comment"/> -->
			<table class='center' style="width:100%">
				<tr>
					<tr>
						<th>Resources</th>
						<th>Yes</th>
						<th>No</th>
					</tr>
				{% for i in range(recom_re|length) %}
					<tr>
						<td>{{recom_re[i].title}}</td>
						<td><input type="checkbox" name="fb" value="1"></td>
						<td><input type="checkbox" name="fb" value="0"></td>
					</tr>
				{% endfor %}

				</tr>	
			</table>
			<br/>

			<button type="submit" class="btn btn-outline-secondary center" value="feedback">Send feedback</button>
        
     	</form>
	</div>
	

    <script src="https://unpkg.com/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="../js/bootstrap.js"></script>
</body>
</html>